@using System.Linq
@model System.Collections.Generic.IEnumerable<Ingredient>

<label>Ingredienser</label><br/>
@*<ul class="checkbox-grid">*@
@foreach (var ingredient in Model.OrderBy(x => x.Name))
{
            @*<li><input type="checkbox" value=""> @ingredient.Name</li>*@

    <div class="btn btn-default btn-sm">@ingredient.Name</div>
}
@*</ul>*@