@using System.Collections.Generic
@using System.Linq
@model IEnumerable<Dish>
@{
    ViewData["Title"] = "Home Page";
}


@foreach (var category in Model.GroupBy(d => d.Category))
{
    <h3>@category.Key.Name</h3>
    <ul>
        @foreach (var dish in category)
        {
            <li>@dish.Name 
                <span>@string.Join(", ", dish.Ingredients.Select(i => i.Name))</span> 
                <span>@dish.Price:-</span>
            </li>
        }
    </ul>
}
