body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    margin-top: 30px;
}

span.field-validation-error {
    color: red;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.dish-category {
    text-align: left;
    border-bottom: 2px dotted #393939;
}

.menu-container {
    border: 1px solid #393939;
    padding: 20px;
}

.menu {
    list-style: none;
}

.menu > li {
    position: relative;
    margin-bottom: 30px;
}

.menu > li .dish-details {
    position: absolute;
    top: 0;
    left: 40px;
}

.menu > li .dish-manage {
    margin-top: -50px;
    float: right;
    font-weight: bold;
}

.menu-category {
    text-align: center;
}

.dish-name {
    font-weight: bold;
    font-size: 22px;
}
.dish-name:hover {
    text-decoration: underline;
}

.dish-price {
    text-align: right;
}

.menu > li > a {
    text-decoration: none;
}

.menu > li > a:hover {
    color: #000;
}


