@using System.Linq
@using Microsoft.AspNetCore.Http.Extensions
@using PizzeriaButikenOnline.Extensions
@model Cart
<div id="cartdiv">
    <a asp-controller="Cart" asp-action="Index" asp-route-returnUrl="@ViewContext.HttpContext.Request.PathAndQuery()">
        <i class="cart-icon glyphicon glyphicon-shopping-cart"></i>
        @if (Model.Lines.Any())
        {
            <span>@Model.Lines.Sum(l => l.Quantity)st @Model.ComputeTotalValue():-</span>
        }
    </a>
</div>