@using System.Linq
@model Cart
<div id="cartdiv">
    <a asp-controller="Cart" asp-action="Index">
        <i class="cart-icon glyphicon glyphicon-shopping-cart"></i>
        @if (Model.Lines.Any())
        {
            <span>@Model.Lines.Sum(l => l.Quantity)st @Model.ComputeTotalValue():-</span>
        }
    </a>
</div>